<div class="row map_holder">
	<%= form_for :itineraries, url: create_path, html: {id: 'create_itinerary_form'} do |f| %>
	  <%= f.label :name, "name your itinerary" %>
	  <%= f.text_field :name %>
	  <%= render "spot" %>
	  <button id="add_new_spot" type="button">Add New Spot</button>
	  <%= f.submit "Publish" %>
	<% end %>
</div>