<h1><%= @itinerary.name %></h1>
<a href='/upvote/itin/<%= @itinerary.id %>'><button data=<%= @itinerary.id %> type='button'>Upvote</button></a><%= @itinerary.vote_count %>

<h2>Spots</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Description</th>
    <th>Upvote</th>
  </tr>
  <% @itinerary.spots.each do |spot| %>
    <tr>
      <td><%= spot.name %></td>
      <td><%= spot.address%></td>
      <td><%= spot.itinerary_spots.find_by_itinerary_id(@itinerary.id).description %></td>
    </tr>
  <% end %>
</table>