<div class="row">
	<div class="small-12 itin_header">
			<h1 class="itin_title small-10 column"><%= @itinerary.name %></h1>

			<div class="favorite small-2 column">
				<%  if current_user %>
				  <% if current_user.has_favorited?(@itinerary) %>
				    <%= link_to "unfavorite", destroy_favorite_path(itinerary_id: @itinerary.id), method: :delete %>
				  <% else %>
				  <%= link_to "favorite", favorites_path(itinerary_id: @itinerary.id), method: :post %>
				  <% end %>
				<% end %>
			</div>
	</div>
</div>

	<div class="large-12 perfect_day_list no_dash_border">
		<% @spot = Spot.find(@itin_spot.spot_id) %>

		<%= @spot.name %><br>
	
		<div class="spots search-results map_background">
		  <div class="map-canvas" data-lat='<%=@spot.latitude%>' data-name='<%=@spot.name%>' data-long='<%=@spot.longitude%>' style="width:100%;height:250px;margin:0 auto;display:block;"></div>
		</div>

		<%= @spot.address %><br>
		<%= @spot.phone %><br>

		<h5>Description</h5>
		<p><%= @itin_spot.description %></p>

		<h5>Spots on This Itinerary</h5>	
	  
	  <ul>
	    <% @itinerary.itinerary_spots.each do |itinerary_spot| %>
	      <a href="/itineraries/<%= Itinerary.find(itinerary_spot.itinerary_id).id %>/spots/<%= itinerary_spot.id %>"><li><%= Spot.find(itinerary_spot.spot_id).name %></li></a>
	    <% end %>
	  </ul>

		<% unless @itinerary.itinerary_spots.first.id == @itin_spot.id %>
		  <a href="/itineraries/<%= @itinerary.id %>/spots/<%= @itin_spot.id - 1 %>">Previous</a>
		<% end %>
		<% unless @itinerary.itinerary_spots.last.id == @itin_spot.id %>
		  <a href="/itineraries/<%= @itinerary.id %>/spots/<%= @itin_spot.id + 1 %>">Next</a>
		<% end %>

	</div>