<h5><%= @itinerary.name %></h5>
<%  if current_user %>
  <% if current_user.has_favorited?(@itinerary) %>
    <%= link_to "unfavorite", destroy_favorite_path(itinerary_id: @itinerary.id), method: :delete %>
    <% else %>
  <%= link_to "favorite", favorites_path(itinerary_id: @itinerary.id), method: :post %>
  <% end %>
<% end %>

<br>Spot <%= @itinerary.spots.index(@spot)+1 %><br>


<%= @spot.name %><br>
<%= @spot.address %><br>
<%= @spot.phone %><br>


<div class="spots search-results">
  <div class="map-canvas" data-lat='<%=@spot.latitude%>' data-name='<%=@spot.name%>' data-long='<%=@spot.longitude%>' style="width:300px;height:250px;margin:0 auto;display:block;"></div>
</div>

<h5>Description</h5>
<p><%= @itin_spot.description %></p>

<% unless @itinerary.spots.first.id == @spot.id %>
  <a href="/itineraries/<%= @itinerary.id %>/spots/<%= @spot.id - 1 %>">Previous</a>
<% end %>
<% unless @itinerary.spots.last.id == @spot.id %>
  <a href="/itineraries/<%= @itinerary.id %>/spots/<%= @spot.id + 1 %>">Next</a>
<% end %>
