<h5><%= @itinerary.name %></h5>
<% if current_user.has_favorited?(@itinerary) %>
  <%= link_to "unfavorite", destroy_favorite_path(itinerary_id: @itinerary.id), method: :delete %>
  <% else %>
<%= link_to "favorite", favorites_path(itinerary_id: @itinerary.id), method: :post %>
<% end %>
<a href="/upvote/itin/<%= @itinerary.id %>">
<button type="button">Upvote Itinerary</button></a>
<%= @itinerary.vote_count %>

<br>Spot <%= params[:id] %><br>
<a href="/upvote/spot/<%= @spot.id %>">
<button type="button">Upvote Spot</button></a>
<%= @spot.vote_count %>
<br><br><br>
<%= @spot.name %><br>
<%= @spot.address %><br>
<%= @spot.phone %><br>
<%= @spot.longitude %><br>
<%= @spot.latitude %><br>
<% unless @itinerary.spots.first.id == @spot.id %>
  <a href="/itineraries/<%= @itinerary.id %>/spots/<%= @spot.id - 1 %>">Previous</a>
<% end %>
<% unless @itinerary.spots.last.id == @spot.id %>
  <a href="/itineraries/<%= @itinerary.id %>/spots/<%= @spot.id + 1 %>">Next</a>
<% end %>
