<div class="row map_holder">
  <div class="itineraries">
  <% @favorite_itineraries.each do |itinerary| %>

    <% waypoints = [] %>

    <% itinerary.spots.each do |spot| %>
      <% waypoints << [spot.latitude.to_f, spot.longitude.to_f] %>
    <% end %>

  <div class="large-12 perfect_day_list">
    <a href="/itineraries/<%= itinerary.id %>/spots/<%= itinerary.itinerary_spots.first.id %>" class="day_title"><%= itinerary.name %></a>

  <div class="map_background">
    <span class="itinerary_score"><%= itinerary.favorites.count %></span>
    <div class="map-canvas" data-latlong='<%= waypoints %>' style="width:100%;height:250px;display:block;"></div>
  </div>
    <ul>
      <% itinerary.itinerary_spots.each do |itinerary_spot| %>
       <li><%= Spot.find(itinerary_spot.spot_id).name %></li>
      <% end %>
    </ul>
</div>
  <% end %>

</div>
</div>
