we will show all of this user's created itineraries below
<% @itineraries.try(:each) do |itinerary| %>
  <div class="itinerary">
    <img class="map-of-itinerary" src="http://localhost:3000/<%= itinerary.map %>">
    <p><%= itinerary.title %></p>
  </div>
<% end %>


<div class='footer-nav'>
  <%= link_to "home", user_path(current_user)%>
  <%= link_to "browse", browse_path %>
  <%= link_to "create", new_path %>
  <%= link_to "favorites", favorite_path %>
  <%= link_to "search" %>
  <!-- this will be on the options popout on top nav -->
  <%= link_to "logout", session_path, method: :delete %>
</div>
