<% if current_user %>

  <div class='row'>
    <div class="row">
      <%= link_to "home", user_path(current_user)%>
      <%= link_to "browse", browse_path %>
      <%= link_to "new", new_path %>
      <%= link_to "favorites", favorites_path %>
      <%= link_to "search", search_path %>
    </div>
  </div>

  <% else %>

  Not logged in user nav.

<% end %>
