<% if current_user %>
  
  <div class='row footer_nav'>
    <div class="small-5">
      <div class="small-1 columns">
        <%= link_to "H", user_path(current_user)%>
      </div>

      <div class="small-1 columns" style="background: #888;">
        <%= link_to "B", browse_path %>
      </div>

      <div class="small-1 columns" style="background: #ddd;">
        <%= link_to "N", new_path %>
      </div>

      <div class="small-1 columns" style="background: #aaa;">
        <%= link_to "F", favorites_path %>
      </div>

      <div class="small-1 columns">
        <%= link_to "S", search_path %>
      </div>
    </div>
  </div>
  
  <% elsif current_page?('/') %>
  
  <% else %>

    This is navi-footer.

<% end %>
